@charset "UTF-8";
/* reglas generales */
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";
* {
  margin: 2px;
  padding: 2px;
}

/* @keyframes animacion {} */
/* reglas generales */
body {
  background: linear-gradient(to right, #E0EAFC, rgb(168, 60, 60));
  font-family: "Montserrat";
  position: relative;
  padding-bottom: 3em;
  font-weight: 600;
  /* Sticky de Whatsapp */
}
body .whatsapp2 {
  display: flex;
  position: sticky;
  justify-content: flex-end;
  height: 60px;
  margin: 10px;
  margin-right: 40px;
  bottom: 0;
}

/* navegador de bootstrap*/
.navbar {
  display: flex;
  margin-left: 10px;
}
.navbar .navbar-brand {
  background: linear-gradient(to right, #E0EAFC, rgb(168, 60, 60));
  text-decoration: underline;
  border-radius: 10px;
}
.navbar .navbar-brand:hover {
  color: red;
  background: black;
}

/* fin navegador de bootstrap*/
/* Comienzo del Index */
main p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6;
}
main a {
  text-decoration: none;
  color: black;
}

/* Grid + Imagenes del Index + h2 de Section*/
.grid h2 {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: underline 2px;
  font-weight: bold;
}
.grid img {
  height: 300px;
  padding-left: 50px;
}
.grid .col {
  padding-bottom: 100px;
  padding-top: 12px;
}

/* Fin del Index */
/* (el h1 está en _header) */
/* h3 */
h3 {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: underline 2px;
  font-weight: bold;
}

/* Video del Index y Mapa de pagina de Contacto */
.video {
  display: flex;
  align-self: center;
  justify-content: center;
}
.video iframe {
  display: flex;
  align-self: center;
  justify-content: center;
}

/* Pagina Poesía*/
.carousel-item img {
  margin: auto;
  max-width: 400px;
  max-height: 400px;
  height: 300px;
}

p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
  font-style: oblique;
  line-height: 1.6;
  margin-top: 25px;
}

.autor {
  text-decoration: none;
  font-style: italic;
}

.caligrama {
  max-width: 100%;
  height: auto;
  width: 400px;
  margin-top: 25px;
}

/* Fin Pagina Poesía */
/* Literatura */
.literaturamoderna h2 {
  text-align: center;
  font-size: medium;
  font-weight: 1000;
  margin-top: 25px;
}
.literaturamoderna img {
  max-width: 100%;
  width: 800px;
  height: auto;
}
.literaturamoderna h4 {
  text-align: center;
  font-size: medium;
  font-weight: 1000;
  margin-top: 25px;
}

.policiales h4 {
  text-align: center;
  font-size: medium;
  font-weight: 1000;
  margin-top: 25px;
}
.policiales img {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

/* Fin de Literatura */
/* Pagina de Contacto */
.secconinfo p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6;
}
.secconinfo div {
  text-align: center;
}
.secconinfo img {
  max-width: 100%;
  height: auto;
}

/* Fin de pagina de contacto */
/* Pagina de Contacto */
.contacto {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.contacto form {
  margin: 30px;
  background: linear-gradient(to right, #da8d8d, rgb(240, 155, 155));
  border-radius: 20px;
}
.contacto .h2decontactanos {
  position: relative;
  top: 0px;
}
.contacto .btn {
  position: relative;
  top: 20px;
}

/* Fin de pagina de Contacto */
/* Header */
header {
  background-image: url(../css/imagenes/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 170px;
  /* Logo de ayuda */
}
header .animate__animated {
  display: flex;
  border-radius: 200px;
  position: relative;
  width: 100px;
  height: 100px;
  left: 30px;
  animation-iteration-count: infinite;
  margin-right: 20px;
}
header h1 {
  color: white;
  align-self: center;
}
header .bi {
  color: white;
  position: relative;
  right: 30px;
  margin-left: 20px;
}
header .bi:hover {
  color: black;
}

/* Fin de Header */
/* Footer */
footer {
  display: flex;
  text-align: center;
  padding-top: 25px;
  color: aliceblue;
  background-image: url(../css/imagenes/235.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  flex-direction: column;
}
footer p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6;
  padding-top: 10px;
}
footer a {
  color: aliceblue;
}
footer a {
  text-decoration: underline;
}
footer a:hover {
  color: red;
}

/* Footer */

/*# sourceMappingURL=estilo.css.map */
