@charset "UTF-8";
/* reglas generales */
@import "https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=PT+Sans&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";
* {
  margin: 2px;
  padding: 2px;
}

/* reglas generales */
body {
  background-color: #cab986;
  font-family: "Montserrat";
  position: relative;
  padding-bottom: 3em;
  font-weight: 600;
  /* Sticky de Whatsapp */
}
body .whatsapp2 {
  display: flex;
  position: sticky;
  justify-content: flex-end;
  height: 60px;
  margin: 10px;
  margin-right: 40px;
  bottom: 0;
}

/* navegador de bootstrap*/
.navbar {
  display: flex;
  margin-left: 10px;
}
.navbar .navbar-brand {
  text-decoration: none;
  border-radius: 13px;
  border-color: black;
  text-shadow: 0.5px 0.5px 1px black;
  border-style: solid;
  border-width: 2px;
}
.navbar .navbar-brand:hover {
  color: red;
}

/* fin navegador de bootstrap*/
/* Comienzo del Index */
/* (el h1 está en _header) */
main p {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6;
  font-size: 25px;
  margin-bottom: 0;
}
main a {
  text-decoration: underline;
  color: black;
}

hr {
  opacity: 0.5;
}

/* Grid + Imagenes del Index + h2 de Section*/
.grid h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 0.5px 0.5px 1px black;
}
.grid img {
  height: 300px;
  width: 250px;
  padding-left: 50px;
}
.grid .col {
  padding-bottom: 100px;
  padding-top: 12px;
}

/* Fin del Index */
/* (el h1 está en _header) */
/* h3 */
h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 0.5px 0.5px 1px black;
}

/* Video del Index y Mapa de pagina de Contacto */
.video {
  display: flex;
  align-self: center;
  justify-content: center;
}
.video iframe {
  display: flex;
  align-self: center;
  justify-content: center;
}

/* Pagina Poesía*/
.carousel {
  margin-top: 7 0px;
}
.carousel .carousel-item img {
  margin: auto;
  max-width: 400px;
  max-height: 400px;
  height: 300px;
}

.sectionpoesia p {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 500;
  line-height: 1.6;
  font-size: 20px;
  margin-bottom: 0;
}
.sectionpoesia h3 {
  text-decoration: none;
  font-style: italic;
}

.divdepoesia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.divdepoesia div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.divdepoesia .divconpoema {
  flex-direction: column;
  margin-left: 25px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}
.divdepoesia p {
  font-family: "Oswald", sans-serif;
}
.divdepoesia h4 {
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px black;
}
.divdepoesia .caligrama {
  max-width: 100%;
  width: 400px;
  height: 600px;
}
.divdepoesia img {
  max-width: 100%;
  height: 400px;
  width: 600px;
  margin-top: 25px;
}
.divdepoesia .divmario {
  flex-direction: column;
  margin-left: 25px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

/* Fin Pagina Poesía */
/* Literatura */
.literaturamoderna h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 0.5px 0.5px 1px black;
  font-size: 25px;
}
.literaturamoderna img {
  max-width: 100%;
  width: 800px;
  height: auto;
}
.literaturamoderna h4 {
  text-align: center;
  font-size: medium;
  font-weight: 1000;
  margin-top: 25px;
}

.policiales h4 {
  text-align: center;
  font-size: medium;
  font-weight: 1000;
  margin-top: 25px;
}
.policiales img {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

/* Fin de Literatura */
/* Pagina de Nosotros */
.secconinfo p {
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6;
  font-size: 20px;
}
.secconinfo div {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.secconinfo img {
  max-width: 100%;
  height: auto;
  height: 400px;
  width: 400px;
}

/* Fin de pagina de Nosotros */
/* Pagina de Contacto */
.contacto {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.contacto form {
  margin: 30px;
  background-color: #cab986;
  border-radius: 20px;
  border-color: black;
  border-style: solid;
}
.contacto .h2decontactanos {
  position: relative;
  top: 0px;
}
.contacto .btn {
  position: relative;
  top: 10px;
  left: 6px;
}

/* Fin de pagina de Contacto */
/* Header */
header {
  background-image: url(../css/imagenes/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* Logo */
  /* Logo de ayuda */
}
header .animate__animated {
  display: flex;
  border-radius: 200px;
  position: relative;
  width: 100px;
  height: 100px;
  left: 30px;
  animation-iteration-count: infinite;
  margin-right: 20px;
}
header h1 {
  font-family: "PT Sans", sans-serif;
  color: white;
  align-self: center;
  font-size: 50px;
  overflow: auto;
  text-shadow: 2px 2px 4px black;
}
header .bi {
  color: white;
  position: relative;
  right: 30px;
  margin-left: 20px;
  overflow-x: hidden;
}
header .bi:hover {
  color: red;
}

/* Fin de Header */
/* Footer */
footer {
  display: flex;
  text-align: center;
  padding-top: 25px;
  color: aliceblue;
  background-image: url(../css/imagenes/235.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  flex-direction: column;
}
footer p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6;
  padding-top: 10px;
}
footer a {
  color: aliceblue;
}
footer a {
  text-decoration: underline;
}
footer a:hover {
  color: red;
}

/* Footer */

/*# sourceMappingURL=estilo.css.map */
