body {
	background-color: $background-color_1;
	font-family: $font-family_1;
	position: relative;
	padding-bottom: 3em;
	font-weight: 600;
}
/* navegador de bootstrap*/
.navbar {
	display: flex;
	margin-left: 10px;
}
.navbar-brand {
	text-decoration: underline;
	&:hover {
		color: $color_4;
	}
}
/* navegador de bootstrap*/
/* (el h1 está en el Header) */
h2 {
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	text-decoration: underline 2px;
	font-weight: bold;
}
.h2decontactanos{
	position: relative;
	top: 50px;
}
h3 {
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	text-decoration: underline 2px;
	font-weight: bold;
}
/* (el h1 está en el Header) */
/* Imagenes del Index */
.imagenuno {
	height: 300px;
	padding-left: 50px;
}
.imagendos {
	height: 300px;
	padding-left: 50px;
}
.imagentres {
	height: 300px;
	padding-left: 50px;
}
/* Imagenes del Index */

/* El grid del index */
.col {
	padding-bottom: 100px;
	padding-top: 12px;
}
/* Video del Index y Mapa de pagina de Contacto */
.video {
	display: flex;
	padding-top: 25px;
	align-self: center;
	justify-content: center;
}
iframe {
	display: flex;
	padding-top: 25px;
	align-self: center;
	justify-content: center;
}
/* Pagina Literatura */
.carousel-inner {
	img {
		margin: auto;
		width: 200px;
	}
}
p {
	font-family: $font-family_2;
	text-align: center;
	font-weight: 500;
	font-style: oblique;
	line-height: 1.6;
}
/* Fin Pagina Literatura */
/* Poesía */
.borges {
	display: flex;
	padding-top: 30px;
	align-items: center;
	justify-content: center;
}
/* Poesía */
/* Nosotros */
.quienes {
	color: $color_6;
	text-align: center;
	top: 0px;
}
/* Fin de Nosotros */
/* Sticky de Whatsapp */
.whatsapp2 {
	display: flex;
	position: sticky;
	justify-content: flex-end;
	height: 60px;
	margin: 10px;
	margin-right: 40px;
	bottom: 0;
}
/* Pagina de Contacto */
.contacto {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
/* Fin de pagina de Contacto */