body {
	background: linear-gradient(to right, #E0EAFC, rgb(168, 60, 60) );
	font-family: $font-family_1;
	position: relative;
	padding-bottom: 3em;
	font-weight: 600;
	/* Sticky de Whatsapp */
.whatsapp2 {
	display: flex;
	position: sticky;
	justify-content: flex-end;
	height: 60px;
	margin: 10px;
	margin-right: 40px;
	bottom: 0;

}
}

main{
	margin-top: 25px;
	p{
	font-family: $font-family_2;
	text-align: center;
	font-weight: 500;
	font-style: normal;
	line-height: 1.6;
	}
	a{
		text-decoration: underline;
		color: black;
	}
	img{
		max-width: 100%;
		height: auto;
	}
}
/* navegador de bootstrap*/
.navbar {
	display: flex;
	margin-left: 10px;

.navbar-brand {
	text-decoration: underline;
	&:hover {
		color: $color_4;
	}
}
}
/* fin navegador de bootstrap*/

/* Grid + Imagenes del Index + h2 de Section*/
.grid{
	h2 {
		@include h2yh3;
	}
	img {
		@include imagenesindex;
	}
	.col {
		padding-bottom: 100px;
		padding-top: 12px;
	}
}
/* (el h1 está en el Header) */

/* h3 */
h3 {
	@include h2yh3;
}

/* Video del Index y Mapa de pagina de Contacto */
.video {
	@include videoindex;
iframe {
	@include videoindex;
}
}

/* Pagina Poesía (no puedo solucionar lo del salto del carousel)*/
.carousel-item {
	img {
		margin: auto;
		width: 200px;
	}
}
p {
	font-family: $font-family_2;
	text-align: center;
	font-weight: 500;
	font-style: oblique;
	line-height: 1.6;
	margin-top: 25px;
}


.autor{
	text-decoration: none;
	font-style:italic;
}

.caligrama{
	max-width: 100%;
	height: auto;
	width: 400px;
	margin-top: 25px;
}


/* Fin Pagina Poesía */

/* Literatura */
.literaturamoderna{
	h2{
		text-align: center;
		font-size: medium;
		font-weight: 1000;
		margin-top: 25px;
	}
	img{
		max-width: 100%;
		width: 800px;
		height: auto;
	}
	h4{
		text-align: center;
    font-size: medium;
    font-weight: 1000;
    margin-top: 25px;
	}
}

.policiales{
	h4{
		text-align: center;
		font-size: medium;
		font-weight: 1000;
		margin-top: 25px;	
	}
	img{
		height: 300px;
	}
}

/* Fin de Literatura */

/* Pagina de Contacto */
.contacto {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

	form{
		margin: 30px;
		background-color: #E0EAFC;
		border-radius: 20px;
	}

	.h2decontactanos{
		position: relative;
		top:0px;
	}
	.btn{
		position: relative;
		top: 20px;
	}
}


/* Fin de pagina de Contacto */