/* Footer */
footer {
	display: flex;
	text-align: center;
	padding-top: 25px;
	color: $color_1;
	background-image: url(../css/imagenes/235.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	flex-direction: column;
	p {
	font-family: $font-family_2;
	text-align: center;
	font-weight: 600;
	font-style: normal;
	line-height: 1.6;
	padding-top: 10px;
	}
	a {
	color: $color_1;
}
}
/* Footer */