/* Header */
header {
	background-image: url(../css/imagenes/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 10px;
	border-radius: 10px;
	display: flex;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	height: 170px;
}

.logo {
	display: flex;
	border-radius: 200px;
	position: relative;
	width: 100px;
	height: 100px;
	left: 30px;
	animation-name: animacion;
    animation-iteration-count: infinite;
}


h1 {
	color: $color_5;
	align-self: center;
}
/* Logo de ayuda */
.bi{
	color: white;
	position: relative;
	right: 30px;
}
.bi:hover{
	color: black;
}
/* Fin de Header */