/* Header */
header {
	background-image: url(../css/imagenes/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 10px;
	border-radius: 10px;
	display: flex;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	/* Logo */
	.animate__animated {
		display: flex;
		border-radius: 200px;
		position: relative;
		width: 100px;
		height: 100px;
		left: 30px;
		animation-iteration-count: infinite;
		margin-right: 20px;
	}

	h1 {
		font-family: $font-family_3;
		color: $color_5;
		align-self: center;
		font-size: 50px;
		overflow: auto;
		text-shadow: 2px 2px 4px black;
	}

	/* Logo de ayuda */
	.bi {
		color: white;
		position: relative;
		right: 30px;
		margin-left: 20px;
		overflow-x: hidden;
	}

	.bi:hover {
		color: red;
	}
}

/* Fin de Header */