/* Header */
header {
	background-image: url(../css/imagenes/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 10px;
	border-radius: 10px;
	display: flex;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.logo {
	display: flex;
	border-radius: 200px;
	position: static;
	width: 100px;
	height: 100px;
}
h1 {
	color: $color_5;
	align-self: center;
}
/* Logo de ayuda */
.bi{
	color: white;
}
.bi:hover{
	color: black;
}
/* Fin de Header */