@mixin imagenesindex {
	height: 300px;
	width: 250px;
	padding-left: 50px;
}

@mixin titulos1y2 {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	text-decoration: underline;
	text-shadow: 0.5px 0.5px 1px black;
}

@mixin videoindex {
	display: flex;
	align-self: center;
	justify-content: center;
}