/* Bucles */
/* nombre del bucle debe ser i */
/* si queres del 1 al 6 debes poner 7 porque termina en el numero anterior */

@for $i from 1 to 7{
    h#{$i}{
        font-size: 2rem*$i;
    }   
}

/* to = termina en el valor anterior */
/* through = termina en el ultimo numero */

/* Interpolacion */
$colores: "pink", "green", "black";
/* color es una variable auxiliar */
@each $color in $colores{
    .#{$color}{
        color: #{$color};
    }
}